*.props
*.cache
*.dll
*.pdb
*.exe
*.targets


# file
bin\Debug\net7.0\
obj\Debug\net7.0\
obj\GUI_Razor.csproj.nuget.dgspec.json
obj\GUI_Razor.csproj.nuget.g.props
obj\GUI_Razor.csproj.nuget.g.targets
obj\project.assets.json
obj\project.nuget.cache
