.box {
    padding: 0;
    height:auto;
    background-color: lightgray;
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0px;
    top: 50px;
}

.map-col {
    margin: 0;
    padding: 0;
    width: 80%;
    height: 100%;
    display: flex; 
}

.list-col {
    border-radius: 10px 0px 0px 10px;
    border-color: black;
    border-width: 2px;
    padding: 0;
    width: 20%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
}

.unapproved-card {
    margin: 3px 3px 3px 3px;
    border-radius: 13px;
    width: 98%;
    height: 90px;
    background-color: red;
    font-size: 13px;
}