@{
  ViewData["Title"] = "HomeS1 Page";
}
<link rel="stylesheet" href="~/css/homes1.css" asp-append-version="true" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.0/css/v4-shims.min.css" integrity="sha512-p++g4gkFY8DBqLItjIfuKJPFvTPqcg2FzOns2BNaltwoCOrXMqRIOqgWqWEvuqsj/3aVdgoEo2Y7X6SomTfUPA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="main">
  @* button show history *@
  <div class="history" style="font-size: 20px;">
    <button class="btn-showHistory">
      [=]
    </button>

  </div>
  @* end button *@

  <div class="frm__flex__spcBtw">
    <div class="bc frm_information" style="width: 35%;">
      <section>
        <h3>Thông tin</h3>
        <br>
        <p>Nhập thông tin khách hàng:</p>
        <br>
        <div class="col-1">
          <input type="text" id="fullnameInput" name="fullname" class="frm__border" size="90" placeholder="Họ và tên"
            value="">
        </div>
        <div class="range_spcBtw frm__flex__spcBtw">
          <div class="col-2 info">
            <input type="text" size="38" id="emailInput" name="gmail" class="frm__border" placeholder="Email">
          </div>
          <div class="col-2 info">
            <input type="text" size="38" id="phonenumberInput" name="phonenumber" class="frm__border"
              placeholder="Số điện thoại">
          </div>
        </div>
        @*======================================================= form địa
        chỉ=================================================================*@
        <p>Nhập địa chỉ đón:</p>
        <br>
        <div class="range_spcBtw frm__flex__spcBtw">
          <div class="col-4">
            <input type="text" id="addressInfor" size="90" name="address" class="frm__border" placeholder="Địa chỉ"
              value="">
          </div>
        </div>
        <div class="address-form frm__flex__spcBtw range_spcBtw">
          <div class="col-5">
            <div class="form-group ">
              <select id="province">
                <option si value="">Chọn tỉnh/thành phố*</option>
              </select>
            </div>
          </div>

          <div class="col-5">
            <div class="form-group ">
              <select id="district">
                <option si value="">Quận/Huyện*</option>
              </select>
            </div>
          </div>

          <div class="col-5">
            <div class="form-group ">
              <select id="ward">
                <option si value="">Phường* </option>
              </select>
            </div>
          </div>
        </div>
        @* =====================================================end input
        address=============================================================== *@



        @*======================================================= form địa
        chỉ==========================================================*@
        <p>Nhập địa chỉ muốn đến:</p>
        <br>
        <div class="range_spcBtw frm__flex__spcBtw">
          @* <div class="col-3">
          <input type="date" id="dobInput" name="birthday" class="frm__border" value="">
          </div> *@
          <div class="col-4">
            <input type="text" id="addressInfor_to" size="90" name="address" class="frm__border" placeholder="Địa chỉ"
              value="">
          </div>
        </div>
        <div class="address-form frm__flex__spcBtw range_spcBtw">
          <div class="col-5">
            <div class="form-group ">
              <select id="province_to">
                <option si value="">Chọn tỉnh/thành phố*</option>
              </select>
            </div>
          </div>

          <div class="col-5">
            <div class="form-group ">
              <select id="district_to">
                <option si value="">Quận/Huyện*</option>
              </select>
            </div>
          </div>

          <div class="col-5">
            <div class="form-group ">
              <select id="ward_to">
                <option si value="">Phường* </option>
              </select>
            </div>
          </div>
        </div>
        @* =====================================================end input
        address=============================================================== *@
      </section>
      <div class="frm__flex__spcBtw">
        <button type="submit" id="payment-confirm" class="mini-btn-form">
          <a href="#"> Xác nhận</a>
        </button>
      </div>
    </div>

  </div>


  @* start board history *@
  <div class="board-history" style="display: none;">
    <div class="board-header">
      <div class="title-header">History</div>
      <div class="icon-exit">[x]</div>
    </div>
    <hr class="board-menu-header-divide">

    <div class="board-menu-content-frame"
      style="transition: auto; opacity: 1; box-sizing: border-box; flex: 0 0 auto; overflow: hidden; padding: 0 6px 0 12px; position: relative;">

      <div class="list-activity">
        
        @* //thêm thẻ sự kiện *@
        <div class="card-acivity">
          <div class="card-logo">
            <i class="bi bi-taxi-front-fill"></i>
          </div>
          <div class="card-desc">
            Lạng Sơn - Cà Mau
          </div>
          <div class="card-meta">
            <a>8 minus ago</a>
          </div>
        </div>
        @* //end thẻ sự kiện *@
        <hr class="board-menu-header-divide">

        <div class="card-acivity">
          <div class="card-logo">
            <i class="bi bi-taxi-front-fill"></i>
          </div>
          <div class="card-desc">
            Lạng Sơn - Huế
          </div>
          <div class="card-meta">
            <a>8 minus ago</a>
          </div>
        </div>
        <hr class="board-menu-header-divide">
        <div class="card-acivity">
          <div class="card-logo">
            <i class="bi bi-taxi-front-fill"></i>
          </div>
          <div class="card-desc">
            Lạng Sơn - Cà Mau
          </div>
          <div class="card-meta">
            <a>8 minus ago</a>
          </div>
        </div>
        <hr class="board-menu-header-divide">


      </div>

    </div>
  </div>
  @* end board history *@
</div>
<!-- End: edit -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="~/js/Selector_location.js"></script>
<script src="~/js/HomeS1.js"></script>