.box {
    padding: 0;
    height:100%;
    background-color: lightgray;
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0px;
    top: 50px;
}

.map-col {
    width: 80%;
    margin: 0;
    padding: 0;
    height: 100%;
}

.list-col {
    width: 20%;
    padding: 0px 0px 50px 0px;
    margin: 0;
    border-radius: 6px 0px 0px 6px;
    padding: 0;
    background-color: aqua;
    overflow-y: auto;
    max-height: 91%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-col::-webkit-scrollbar {
    width: 6px;
}
.list-col::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.list-col::-webkit-scrollbar-thumb {
    background-color: rgba(0, 33, 71, 0.815);
    outline: 0px solid slategrey;
}

.unapproved-card {
    margin: 3px 1px 3px 1px;
    padding: 3px;
    display: inline-block;
    border-radius: 10px;
    width: 95%;
    background: #008997;
    color: white;
}

.card-content {
    display: inline-block;
    margin: 0px;
    height: 80px;
    padding: 0px 2px;
    font-size: 12px;
}

.card-title {
    font-weight: bold;
    font-size: 12px;
    margin-right: 3px;
    color: rgb(23, 23, 124);
}

