* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
  }
  
  :root {
    /* COLORS */
    --white: #e9e9e9;
    --gray: #333;
    --blue: #009dff;
    --lightblue: #008997;
    --base-background: #d3d3d3;
    --nav-background: rgba(0, 33, 71, 0.815);
  }
  
  body {
    background-color: var(--base-background);
    color: var(--white);
  }
  
  header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 500px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: 0px 6%;
    transition: all .55s ease;
    background: var(--nav-background);
  }
  
  .nav-brand {
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 26px;
    font-weight: bold;
    font-style: italic;
    color: var(--white);
  }
  
  .nav-brand:hover {
    color: var(--white);
  }
  
  .nav-opts {
    display: flex;
    padding: 0;
    margin: 0;
  }
  .nav-opts a {
    color: white;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    padding: 13px 5px;
    margin: 0px 0px;
    text-decoration: none;
    transition: all .3s ease;
    text-align: center;
  }
  
  .nav-opts a:nth-child(1) {
    width: 100px;
  }
  .nav-opts a:nth-child(2) {
    width: 100px;
  }
  .nav-opts a:nth-child(3) {
    width: 100px;
  }
  .nav-opts a:nth-child(3) {
    width: 100px;
  }
  
  
  .nav-opts a:hover {
    color: var(--blue);
    background: #3a3a3a;
    border-radius: 15px;
  }
  
  .nav-opts a.active {
    color: var(--blue);
    background: #3a3a3a;
    border-radius: 15px;
  }
  
  .nav-auth {
    display: flex;
  }
  
  .btn-login {
    text-decoration: none;
    color: var(--white);
    background: var(--lightblue);
    display: inline-block;
    padding: 6px 19px;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid var(--white);
    border-radius: 5px;
    margin-right: 10px;
    transition: all ease .5;
  }
  
  .loginbtn:hover {
    border: 2px solid #000;
    color: #000;
  }
  
  .navbar-toggler {
    color: white;
  }
  
  .menu-btn {
    display: none;
  }
  
  